<html>
  <head></head>
  <body>
    <p>
      <%= "Please guess a number" %>
      </br>
      </br>
      <%= message %>
    </p>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
  </body>
</html>
