<html>
  <head>
    <style>
      body {
      <% if message == "Way too high!" || message == "Way too low!" %>
        background: #FF0000;
      <% elsif message == "Too high!" || message == "Too low!" %>
        background: #FF635B;
      <% else %>
        background: #00FF43
      <% end %>
      }
    </style>
  </head>
  <body>
    <p>
      <%= "Please guess a number" %>
      </br>
      </br>
      <%= message %>
    </p>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
  </body>
</html>
